{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6">
        Group 5 (Amer & Hamzeh):
        
    </h3>
    <h3 class="display-6">
        <span>End to End <strong>Face Recognition</strong> Web App Project </span>
    </h3>
    <br>
    <p>
    </p>
    <img src="/static/images/content/diag5.svg" class="image-fluid mx-auto d-block" height="300" alt="">
    <br>
<br>
<br>

<h4 class="mb-4">1. Training the Face Recognition Model</h4>
<p>Training a face recognition model involves five key steps:</p>
<ol>
    <li><strong>Data Gathering:</strong> Collecting a diverse and representative dataset of face images.</li>
    <li><strong>Data Preprocessing:</strong> Preparing the data by cleaning, resizing, and normalizing images for consistency.</li>
    <li><strong>Feature Engineering:</strong> Extracting meaningful features from the data to represent faces effectively.</li>
    <li><strong>Machine Learning Model:</strong> Developing and training a model capable of recognizing and distinguishing faces.</li>
    <li><strong>Creating an ML Pipeline:</strong> Building a streamlined workflow to integrate all steps for efficient model training and testing.</li>
</ol>
<p>Below is the training flow diagram and a detailed explanation of the steps involved.</p>

<h4 class="mb-4">2. Web Application</h4>
<p>After completion of Machine Learning module we will develop Flask based web application.
</p> 
<ol>
    <li>Develop Web App with
        <ul>
            <li><strong>Flask</strong> - Web Server Gateway Interphase (Backend)</li>
            <li><strong>HTML</strong> - Layout (Frontend)</li>
            <li><strong>Bootstrap</strong> - Styling (Frontend)</li>
        </ul>
    </li>
    <li>Interagte Machine Learning model</li>
    <li>Deploy Web App in Heroku Cloud</li>
</ol>

<h4>3. Deployment</h4>
<p>The code is uploaded and linked to <strong>Heroku</strong> for deployment. 
</p> 
<img src="/static/images/content/deployment.svg" height="300" class="image-fluid" alt="">
</div>


{% endblock %}